@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-out {
    animation: fadeInOut 5s ease-in-out;
}

.bg-success {
  background-color: #28a745;
}

.bg-info {
  background-color: #17a2b8;
}

@keyframes fadeInOut {
    0% {
        top: -150px;
        opacity: 0;
    }
    10% {
        top: 0;
        opacity: 1;
    }
    90% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -150px;
        opacity: 0;
    }
}
